body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  margin-top: -1em;
  background: url("/images/travel.jpg") no-repeat left top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 40em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.form {
  position: relative;
  input {
    width: 20em;
  }
  .fa-spin {
    display: none;
    position: absolute;
    left: 21em;
    top: 0.5em;
  }
  &.loading {
    .fa-spin {
      display: block;
    }
  }
  .suggest-box {
    position: absolute;
    color: #fff;
    margin: 0;
    padding: 0;
    li {
      padding: 0.5em 1em;
      cursor: pointer;
      list-style-type: none;
      &:hover {
        background-color: #659CD8;
      }
    }
  }
}

.dummy {
  color: silver;
}
